[submodule "EvaReg-analysis"]
	path = EvaReg-analysis
	url = https://github.com/evotools/EvaReg-analysis.git
	branch = main
[submodule "EvaReg-training"]
	path = EvaReg-training
	url = https://github.com/evotools/EvaReg-training.git
[submodule "SuRE-gg-variants"]
	path = SuRE-gg-variants
	url = https://github.com/evotools/SuRE-gg-variants.git
